<app-header></app-header>
<div class="block-description">
    <div>
        <img src="assets/li.png" class="image-libra">
    </div>
    <div style="width: 50vw; margin-top: 1vw;">
        <h1 id="text1">Nós acreditamos que a comunicação é a chave para a inclusão!!!</h1>
        <h4>Estamos dedicados a tornar a aprendizagem da linguagem de sinais mais fácil e acessível para todos.</h4>
    </div>
</div>
<div class="block-objectivePounds">
    <p class="text-objective">Nosso objetivo é fornecer uma plataforma abrangente e acessível para ensinar a linguagem de sinais, ajudando a criar um mundo mais inclusivo e acessível para todos. Estamos muito animados em compartilhar nossa paixão por Libras com você e estamos ansiosos para ajudá-lo em sua jornada de aprendizagem.</p>
</div>
<div class="teste">
    <button [routerLink]="['/view/signin']" class="redirect">Descubra a Plataforma</button>
</div>
<app-footer></app-footer>