.icon-pound{
  width: 7vw;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
  
  .cadastre-form {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .cadastre-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .cadastre-form label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .cadastre-form input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cadastre-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .cadastre-form button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
