.footer{
    position: absolute;
    padding: 0.5vw 0vw 0.5vw 0vw;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.281);
}

.title-footer{
    color: rgba(0, 0, 0, 0.548);
}